body {
    padding-top: 70px;
}

.navbar {
    background: rgb(255, 255, 255);
    color: #008ed6;
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#navbar-logo {
    width: 40%;
}

#main-footer {
    border-top: #008ed6 3px solid;
}

.carousel .carousel-item {
    height: 500px;
}

.dark-overlay {
    /* display: block; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.5);
}

#explore-head-section {
    background: rgb(124, 156, 210);
}

#explore-section .fas,
#share-section .fas {
    background: rgb(58, 106, 200);
    color: white;
    /* padding: 5px; */
    border-radius: 5px;
}

#create-section {
    background: #92886b;
}

#share-head-section {
    background: rgb(124, 156, 210);
}

#share-section {
    background: #333333;
}

/* Services Page */

#services-page {
    background-color: white;
}

#services-top {
    background: url(../images/casual-close-up-clothes-250290.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 250px;
    padding-top: 150px;
    width: 100%;
    color: white;
}

#services-body .fas,
#share-section .fas {
    background: rgb(58, 106, 200);
    color: white;
    /* padding: 5px; */
    border-radius: 5px;
}
